<!DOCTYPE html>
<html>
    <head>
        <title>Privacy Statement</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="static/css/PrivacyStyle.css">
		    <link rel="stylesheet" type="text/css" href="static/css/HomePageStyle.css">
    </head>
    <body>
		<div>
			<img class="logo" src="static/img/logo.png" alt="Exeter Orientation Logo">
        </div>

        <h1 align="center">Privacy Statement</h1>
        <p align="center"><i>Last Updated: 12th February 2020</i></p>


        <div class="General">
            <strong>1. General</strong>
            <p>This Privacy Policy describes our policies and procedures on the processing of your personal data in accordance with the EU General Data Protection Regulation 2018.  </p>
            <p>Personal data is collected to provide and improve the service. By using this service you agree to the collection and use of information in accordance with this Privacy Policy.</p>
        </div>

        <div class="Definitions">
            <strong>2. Definitions</strong>
            <ol type="a">
                <li>‘Personal data’ means any information relating to an identifiable individual who can be identified directly or indirectly (data subject) (Article 4(1), GDPR).</li>
                <li>‘Processing’ means any operation or set of operations conducted on personal data whether the process was automated or not. Examples of processing include but are not exclusive to 			collection, recording, storage, adaptation and use (Article 4(2), GDPR).  </li>
                <li>‘You’ means the individual accessing or using the service.  </li>
                <li>‘Cookies’ are small files that are placed on your device containing the details of your browsing history on that website among its many users.  </li>
                <li>‘Consent’ of the data subject means any freely given, specific, informed and unambiguous indication of the data subject’s wishes by which he or she, by a statement or by a clear 			affirmative action, signifies agreement to the processing of personal data relating to him or her (Article 4(11), GDPR) </li>
            </ol>
        </div>

        <div class="PersonalData">
            <strong>3. Use of Personal Data</strong>
            <p>We may use Personal Data for the following purposes:  </p>
            <ol type="a">
                <LI>To provide and maintain our service which includes to monitor the use of our service; or</li>
                <LI>Manage your account to provide access to functionalities of the service as a registered user; or</li>
                <LI>To contact you following registering for the service through electronic communication for reasons including but not exclusive to:  </li>

                <ol type="i">
                    <li>Notifications during the use of the service; or</li>
                    <li>Opportunity to provide feedback on use of the service; or</li>
                    <li>Other reasons necessary.</li>
                </ol>
            </ol>

        </div>

        <div class="RetentionOfPersonalData">
            <strong>4. Retention of Personal Data</strong>
            <p>We shall retain your Personal Data for as long as necessary for the purposes set out in this Privacy Policy or for a time that is deemed reasonably necessary.  </p>
        </div>

        <div class="ContactUs">
            <strong>5. Contact Us</strong>
            <p>If you have any questions about this Privacy Policy, you can contact us directly.  </p>
        </div>

    </body>
</html>
