
<!DOCTYPE html>
<html>
 <head>
        <title>Add Tutor</title>
        <link rel="stylesheet" type="text/css" href="static/css/AddTutorStyle.css">

    </head>
    <body>
        <ul>
            <li><img src="static/img/logo.PNG" alt="Exeter Expedition Logo" class="responsive" width="600" height="400"></li>
            <li><a type="button" href='/game-keeper'>Home</a></li>
            <li><a type="button" href='/add-route'>Add Route</a></li>
            <li><a class="active" type="button" href='/add-tutor'>Add Tutor</a></li>
            <li><a type="button" href='/add-game-keeper'>Add Game Keeper</a></li>
            <li><a type="button" href='/logout'>Log Out</a></li>
        </ul>

        <div class="account">
            <h1>Game Keeper Account</h1>
        </div>

        <div class="addTutor-title">
            <p><b>Add Tutor</b></p> 
        </div>

        <div class="addTutor">
            <h3>Tutor Details</h3>
            <form action="/add-tutor" method='post'>
                <input type = "text" id = "title" placeholder="Title" name="title" pattern="[A-Za-z]{1,}" required>                        
                <br /><br />
                <input type = "text" id = "firstname" placeholder="First Name" name="firstname" 
					pattern="[A-Za-z]{1,}" 
					required>
				<br /><br />
				<input type = "text" id = "surname" placeholder="Surname" name="surname" 
					pattern="[A-Za-z]{1,}" 
					required>
				<br /><br />
				{% if addTutorError %}
					<p style="font-size: 15pt; color: #ff6666;">Need to create a new route before adding a new tutor.</p>
				{% elif tutorCreated %}
					<p style="font-size: 15pt; color: #0a8754;">New tutor added.</p>	
				{% endif %}
				<div>
					<button type="submit" class="submitTutor">Add Tutor</button>
				</div>
            </form>			
        </div>
    </body>
</html>
