<!DOCTYPE html>
<html>
    <head>
		<title>Exeter Orientation</title>
		<link rel="stylesheet" type="text/css" href="static/css/HomePageStyle.css">
    </head>
    <body>
        <div>
			<img class="logo" src="static/img/logo.PNG" alt="Exeter Orientation Logo">
        </div>

		<div>
			<h1>FIND YOUR START TO UNIVERSITY</h1>
		</div>

        <div class="left-button">
			<button onclick="location.href= '/login-page';" class="btn"><img src="static/img/login.png" alt="login"></button>
        </div>

        <div class="right-button">
			<button onclick="location.href = '/signup-page';" class="btn"><img src="static/img/SignUp.png" alt="signup"></button>
        </div>
    </body>
</html>
