<!DOCTYPE html>
<html>
    <head>
        <title>Exeter Orientation</title>
        <link rel="stylesheet" type="text/css" href="static/css/LoginPagestyle.css">
        <link rel="stylesheet" type="text/css" href="static/css/HomePageStyle.css">
    </head>

    <body>
        <div>
            <img class="logo" src="static/img/logo.PNG" alt="Exeter Orientation Logo">
        </div>

		<div class="login">
			<p style="font-size: 30pt">CONTINUE YOUR START TO UNIVERSITY</p>
            <form action="/login" method = 'post'>
				<input type = "text" id = "username" name = "uname" placeholder="Username" required>
				<br /><br />
				<input type = "password" id = "password" name = "psw" placeholder="Password" required>
				<br /><br />
				<p style="font-size: 15pt" align="right">
				FORGOT PASSWORD?
				</p>
				<div class="left-button">
					<button onclick="location.href = 'home-page.html';" class="btn"><img src="static/img/back.png" alt="back"></button>
				</div>

				<div class="right-button">
					<button class="btn"><img src="static/img/sign.png" alt="login"></button>
				</div>
            </form>
        </div>
    </body>
</html>
