body{
    background-color: #BFD7EA;
}

h1{
    font-family: times;
    font-size:30px;
    margin-top: 2%;
}

.General{
    padding: 1.5% 0 0 5%
}

.Definitions{
    padding: 1.5% 0 0 5%
}

.PersonalData{
    padding: 1.5% 0 0 5%
}

.RetentionOfPersonalData{
    padding: 1.5% 0 0 5%
}

.ContactUs{
    padding: 1.5% 0 0 5%
}