.signup{
	background:#48c77d;
    font-family: "Avenir", Verdana, Geneva, sans-serif;
    font-size: 15pt;
	
	overflow: auto;
}

}

.tutormenu{
	position: relative;
	display: inline-block;
}

.dropbtn{
	background: #91AEC1;
	padding: 10px 40px; 
	font-size: 15pt;
	border: 2px solid white;
	cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.tutors{
	display: none;
	position: absolute;
	z-index:1;
}

.tutors a{
	background: #DFDFDF;
	color: black;
	font-size: 12pt;
	text-decoration: none;
	padding: 10px 36px;
	margin-top: 2px;
	display: block;
}

.tutors a:hover {
	background-color: #ddd
}

.show {display:block;}