body{
    background-color: #BFD7EA;
}

h1{
    font-family: times;
    font-size:30px;
    margin-top: 2%;
}

.Definitions{
    padding: 1.5% 0 0 5%
}

.Acknowledgement{
    padding: 1.5% 0 0 5%
}

.Termination{
    padding: 1.5% 0 0 5%
}

.LimitationofLiability{
    padding: 1.5% 0 0 5%
}

.GoverningLaws{
    padding: 1.5% 0 0 5%
}

.ForEUUsers{
    padding: 1.5% 0 0 5%
}

.Changes{
    padding: 1.5% 0 0 5%
}

.ContactUs{
    padding: 1.5% 0 0 5%
}

